body {
    background-color: #F8EAD6;
    font-family: "Old Standard TT", serif;
    height: 100%;
    width: 100%;
}
h2, h1, h3, h4 {
 color: #71634E;
    text-align: justify;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;  
    font-size: 2em;
}
.text {
    font-size: 18px;
    color:#71634E; 
    letter-spacing: 0.08em;
}
nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    margin-left: -10px;
    background-color: #BEA682;
}
nav img {
    width: 99%;
    margin: 0px;
    top: 0px;
    height: auto;
}
nav ul {
 list-style: none; 
    display: inline;
    top: 0px;
    width: 100%;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    position: relative;
    height: inherit;
    float:right;
    text-align: center;
}
nav li {
    width: 20%;
    float: left;
    line-height: 80px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}
nav a:hover {
    text-decoration: none;
    border-bottom: 3px solid #FF6633; 
    color: rgb(50,50,50);
}
nav a.img:hover {
    text-decoration: none;
    border: none;
}
nav a:link {
    text-decoration: none;
    color: rgb(50,50,50);
}
nav a:visited{
    text-decoration: none;
    color: rgb(50,50,50);
}
.Page1 {
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-top: 5%;
}
.pg1-img1 {
    float: right;
    width: 55%;
    border: 8px groove #BEA682;
    border-radius: 3px;
    margin-top: 18%;
    max-height: 40vh; 
}
.Page1 h2 {
    display: block;
    width: 35%:
    padding: 0px;
    margin-top: 18%;
    float: left;
}
.Page1 .text {
    width: 35%;
    float: left;
    padding: 0px;
    text-align: justify;
}
.bottom-border {
    width: 101%;
    height: 15vh;
    position: absolute;
    background-color: rgb(50,50,50);
    padding: 0px;
    bottom:0px;
    margin-left: -6%;
}
.Page2 {
    height: 100vh;
    background-image:url(images/concert.jpg);
    width: 100%;
}
.Page2 .text {
    text-align: left;
}
#Page2Text {
    background-color: rgba(234,234,233,0.9);
    width: 40%;
    padding: 20px;
    top: 60px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    z-index: 2;
}
.Page3 {
    height: 100vh;
    margin:5%;
}
.Page3 h3 {
    font-size: 1.1em;
}
.Page3 #box5 {
    width: 40%;
    position: realtive;
    right: 30%;
    left: 30%;
}
.Page3 .box {
    width: 28%;
    display: inline-block;
    height: 35vh;

}
.Page3 #box1 #box3 {
    position: relative;
    left: 5%; 
   
}
.Page3 #box2 #box4 {
    position: relative;
    right: 5%;
    float: right;
      
}
.Page3 #box1 #box2 {
    position: relative;
    top: 20%;
}
.Page4 {
    height: 100vh;
    margin:5%;
}
.Page4 h2{
    width: 35%;
    margin-top: 18%;
    display: inline-block;
    font-size: 1.5em;
}
.Page4 .text {
    width: 35%;
    display: inline-block;
    text-align: justify;
}

.Page5 {
    height: 100vh;
    margin:5%;
}