$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass';

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Oswald);

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(240, 211, 164);
  font-size: 1.5em;
  line-height: 1.2em;
}

$brickBrown: rgb(186, 94, 39);
$mediumBrown: rgb(186, 119, 69);
$tan: rgb(240, 211, 164);
$yellow: rgb(254, 229, 161);
$red: rgb(196, 32, 38);

$headerHeight: 3em;

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  background-color: $tan;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page {
  height: 105vh;
  padding-top: $headerHeight;
}

.page:last-of-type {
  height: 90vh;
}

.navbar {

  .navbar-inner {
    background-color: $tan;
    @include background-image(linear-gradient($tan, adjust-lightness($tan, -20%)));
    background-repeat: repeat-x;
  }
  .brand {
    position: absolute;
    background-image: url("../images/TimeTravelLogo.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 50%;
    height: 2 * $headerHeight;
    margin-top: 10px;
    padding: 0px;
    margin-left: 160px;
  }

  .nav.right {
    float: right;
    padding-right: $headerHeight;

    a {
      @extend h3;
      margin: 0px;
      line-height: $headerHeight;
      color: rgb(15, 15, 15);
      text-transform: uppercase;
      text-shadow: none;
      position: relative;
      padding-top: 0px;
      padding-bottom: 0px;
      left: 0px;
      top: 0px;
      box-shadow: none;
      @include transition(background-image 0.2s ease-in, box-shadow 0.2s ease-in, top 0.2s ease-in, left 0.2s ease-in);
    }
    a:hover {
      color: adjust-lightness(rgb(15, 15, 15), 30%);

    }

    li.active a {
      @include background-image(linear-gradient(adjust-lightness($tan, 2%), adjust-lightness($tan, -2%)));
      @include box-shadow(rgba(0, 0, 0, .3) 8px 8px 10px);
      @include transition(background-image 0.2s ease-in, box-shadow 0.2s ease-in, top 0.2s ease-in, left 0.2s ease-in);
      @include transition-delay(0.2s);
      left: -5px;
      top: -5px;
    }
  }

}

.storyImage {
  background-image: url("../images/introImage.png");
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  margin-left:30px;
}

#Home {
  .storyImage {
    background-image: url('../images/introImage.png')
  }
}

.image-with-caption {
  padding-top: 50vh;
  margin-top: -250px;
}

#How {
  position: relative;
  .top-transition {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 2* $headerHeight;
    @include background-image(linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)));
  }

  .bottom-transition {
    bottom: -$headerHeight;
    position: absolute;
    width: 100%;
    height: 1* $headerHeight;
    @include background-image(linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
  }

  .hero-unit {
    margin-top: $headerHeight * 3;
  }

  .background-video {
    position: absolute;
    @include transition(opacity 0.5s ease-in);
    height: 100%;
    width: 100%;
    opacity: .8;
    left: 0px;
    z-index: -1;
  }

  .background-video.transparent {
    opacity: 0;
    @include transition(opacity 0.5s ease-out);
  }
}
